[gxynet]
	peer = "tcp_connector" # 网络节点名字

[peer.processor]
	packet = "ltiv" # 解包的解码器
	message = "protobuf" # 消息类型

[peer.tcp_connector]
	addr = "127.0.0.1:29001"

[packet.ltiv] # 解码配置
	size_length = 2 #包大小字段的长度
	type_length = 1 # 类型字段的长度
	id_length = 4 # 消息id长度
	byte_order = "little" # 字节序
	max_size = 3145728 # 3M